.skill__logo {
  width: 110px;
  height: 110px;
  margin: 0 auto;
  margin-bottom: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill__logo img {
  height: 100%;
}

.skill__title {
  opacity: 0.8;
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 1000px) {
  .skill__logo {
    width: 150px;
    height: 150px;
  }

  .skill__title {
    font-size: 2.75rem;
  }
}
