.skill__logo {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  /* background-color: #3d404d; */
  margin-bottom: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill__logo img {
  height: 100%;
}

.skill__title {
  opacity: 0.8;
  font-size: 2.75em;
  text-align: center;
}
