.exp__container {
  position: relative;
  flex: 0.65;
}

.exp__container::before {
  position: absolute;
  left: 12px;
  top: -30rem;
  width: 5px;
  height: 30rem;
  background-color: #976322;
  content: "";
}

.timeline {
  position: absolute;
  min-width: 150px;
  width: 20%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgb(61, 64, 77) 0%,
    rgb(29, 28, 33, 0) 100%
  );
  z-index: 3;
}

.progress-bar {
  position: relative;
  margin-left: 8%;
  height: 100%;
  border-left: 5px solid #1d1c21;
}

.progress-bar::before {
  position: absolute;
  left: -5px;
  top: -2em;
  width: 5px;
  height: var(--height);
  background-color: #976322;
  content: "";
  transition: 700ms all cubic-bezier(0.19, 1, 0.22, 1);
}

.progress-bar::after {
  position: absolute;
  left: -5px;
  bottom: -5em;
  width: 5px;
  height: 5em;
  background-color: #1d1c21;
  content: "";
}

.progress-bar__item {
  position: relative;
  margin: 1.25rem 0 1.25rem 1.25rem;
  color: rgb(255, 255, 255, 0.6);
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  transform: scale(0.7) translateX(-8.5%);
  transform-origin: left;
}

.progress-bar__item.last,
.progress-bar__item:hover {
  color: rgb(255, 255, 255);
}

.progress-bar__item.last span {
  display: block;
  transform-origin: left;
  transform: scale(1.2);
  transition: 700ms transform cubic-bezier(0.19, 1, 0.22, 1);
}

.progress-bar__item::before {
  content: "";
  position: absolute;
  left: calc(-0.5em - 20.2px);
  top: calc(50% - 8px);
  width: 15px;
  height: 15px;
  background: #1d1c21;
  border-radius: 2rem;
  transition: 700ms all cubic-bezier(0.19, 1, 0.22, 1);
}

.progress-bar__item.selected::before {
  background: #976322;
}

.progress-bar__item.selected.last::before {
  transform: scale(1.5);
}

.timeline__info {
  position: relative;
  z-index: 2;

  margin-left: 12px;
  display: flex;
  gap: 1em;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  min-height: 100%;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
  0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
  0 16px 16px rgba(0, 0, 0, 0.1); */
}

.timeline__info::-webkit-scrollbar {
  height: 0;
  background: transparent;
}

.timeline__event {
  scroll-snap-align: center;
  flex-shrink: 0;
  background: rgb(29, 28, 33);
  padding: 0.5em;
  padding-left: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  width: 100%;
}

@media (min-width: 680px) {
  .progress-bar__item {
    transform: scale(1);
  }

  .timeline__event {
    padding-left: 22%;
  }

  .progress-bar__item {
    font-size: 1.25rem;
  }
}

@media (min-width: 1280px) {

  .exp__container::before {
    left: 12.5px;
  }

  .progress-bar::after {
    position: absolute;
    left: -5px;
  }
}
