.intro__container {
  background-color: #3d404d;
  position: relative;
  padding-bottom: 5em;
  overflow: hidden;
}

.intro__border {
  width: 100%;
  transform: rotate(180deg) translateY(1%);
  position: absolute;
  z-index: 2;
}

.intro__title {
  position: relative;
  opacity: 0.6;
  margin-top: 6rem;
  z-index: 2;
}

.intro__row {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
  justify-content: space-between;
  min-height: 275px;
}

.intro__info {
  position: relative;
  text-align: center;
  opacity: 1;
  z-index: 2;
  flex: .35;
  max-width: 400px;
  margin: 3rem auto 4rem;
  font-size: 1.1rem;
}

.intro__info p {
  font-family: 'Source Code Pro', monospace;
}

.intro__info span {
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
  color: #976322;
}

@media (min-width: 1000px) {
  .intro__row {
    display: flex;
    width: 80%;
    max-width: 1200px;
  }

  .intro__info {
    text-align: left;
    margin: .5em 0 0 0;
  }
}