*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1d1c21;
  height: 110vh;
}

img {
  max-width: 100%;
}

h1, h2 {
  margin: 0;
  padding: 0;
  color: white;
  line-height: 1.1;
}
